body {
  font-family: dm;
  background-color: #060809;
  color: #ddc9bb;
}

.App {
  max-width: 60ch;
  margin: 0 auto;
  z-index: 1000;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000;
}

a {
  color: white;
}

thead {
  color: white;
  border-bottom: 1px solid #aaa;
  text-transform: lowercase;
}

.relativeTime {
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
  color: white;
  text-transform: lowercase;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
  color: white;
  text-transform: lowercase;
}

h3 {
  font-size: 1.5rem;
  color: white;
  text-transform: lowercase;
}

.Player {
  white-space: nowrap;
}